@import '../themes';

.home-container {
    background-color: inherit;
    line-height: 24px;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
}

.grid-item {
    background-color: inherit;
    color: inherit;
    border: 1px solid $alwaysPrimaryThemeColor;
    overflow: hidden;
    height: 250px;
    transition: box-shadow 0.5s;
}

.grid-item:hover {
    box-shadow: 0 0 25px 0 rgba($color: black, $alpha: 0.7);
}

.add-button-div {
    padding: 0 0 20px 20px;
}

.add-button {
    background-color: $alwaysPrimaryThemeColor;
    border: 1px solid $alwaysPrimaryThemeColor;
    padding: 15px;
}

.add-button:hover {
    cursor: pointer;
    background-color: $alwaysPrimaryThemeColorDark;
    border: 1px solid $alwaysPrimaryThemeColorDark;
}

.form-popup {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.5);
}

.form-popup-container {
    max-width: 300px;
    margin: 20vh auto;
    padding: 10px;
    background-color: white;
    color: white;
    box-shadow: 0 0 100px 0 rgba($color: black, $alpha: 0.5);
}

.form-popup-container {
    h4 {
        color: black;
    }
}

.form-popup-container {
    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 280px;
        border: none;
        background-color: $alwaysSecondaryLight;
    }
}

.form-popup-container {
    textarea {
        padding: 10px;
        margin-bottom: 10px;
        width: 280px;
        height: 100px;
        border: none;
        font-family: inherit;
        background-color: $alwaysSecondaryLight;
    }
}

.form-popup-action-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: $primaryButtonBackground;
    border: 1px solid $primaryButtonBackground;
    cursor: pointer;
}

.form-popup-action-button:disabled {
    opacity: 0.7;
    cursor: default;
}

.form-popup-close-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: $alwaysPrimaryThemeColor;
    border: 1px solid $alwaysPrimaryThemeColor;
    cursor: pointer;
}

.form-popup-close-button:hover {
    background-color: $alwaysPrimaryThemeColorDark;
    border: 1px solid $alwaysPrimaryThemeColorDark;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}